
@mixin shadow_box {
  box-shadow: 0px 2px  5px #606060;
}

$c1:  #6A2828;
$c2:  #999; /* main and sidebar menu headings */
$c3:  $c1*1.6;
$c4:  #999; /* h3 headings */
$c5:  #222;
$c6:  #CCC;
$c7:  $c5*1.6;
$c8:  #E0E2EC;
$c9:  #e2e2e2;
$c10: #c9c9c9;
